<!doctype html>
<html>
<head>
    <title>CheGOu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="js/jquery.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/chat.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
</head>
<body id="chat">
    <div class="ui vertical inverted menu">
        <div class="ui header item">
            <span class="bold">CheGOu</span>
        </div>
        <div class="item profile">
            {{.Name}} &nbsp; <i id="profile-menu-link" class="ellipsis horizontal link icon"></i>
            <div class="ui custom popup right center transition hidden">
                <div id="profile-menu" class="ui link list">
                    <p href="" id="logout" class="item">Sair</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="head">Channels</div>
            <div class="menu channels">
                <p room="main-channel" class="ui link item">Público</p>
                {{range .UsersOn}}
                    <p room="{{.Email}}" class="ui link item">{{.Name}}</p>
                {{end}}
            </div>
        </div>
    </div>
    <div id="box-container" class="ui padded three column stackable fluid grid">
        <div class="column">
            <div class="ui fluid bg-darkblue top attached segment">
                <h3 class="header">Público</h3>
            </div>
            <div id="main-channel" class="ui fluid attached segment room">
                <div class="chat-feed"></div>
                <form class="ui horizontal fluid form message">
                    <div class="ui action fluid input">
                        <input name="message" type="text" placeholder="Sua mensagem...">
                        <button class="ui icon button send" room="main-channel">
                            <i class="angle right link icon"></i>
                        </button>
                    </div>
                    <input type="submit" hidden>
                </form>
            </div>
        </div>

        {{range .UsersOn}}
            <div id="{{.Email}}" class="column hidden">
                <div class="ui fluid bg-darkblue top attached segment">
                    <h3 class="header">{{.Name}}</h3>
                </div>
                <div class="ui fluid attached segment room">
                    <div class="chat-feed"></div>
                    <form class="ui horizontal fluid form message">
                        <div class="ui action fluid input">
                            <input name="message" type="text" placeholder="Sua mensagem...">
                            <button class="ui icon button send" room="{{.Email}}">
                                <i class="angle right link icon"></i>
                            </button>
                        </div>
                        <input type="hidden" name="email" value="{{.Email}}">
                        <input type="hidden" name="name" value="{{.Name}}">
                        <input type="submit" hidden>
                    </form>
                </div>
            </div>
        {{end}}
    </div>

    <input type="hidden" id="name" value="{{.Name}}">
    <input type="hidden" id="email" value="{{.Email}}">

    <script src="js/pusher.js"></script>
    <script src="js/chat.js"></script>
    <script src="semantic/dist/semantic.min.js"></script>
</body>
</html>