<!doctype html>
<html>
<head>
    <title>CheGOu</title>
    <meta charset="UTF-8">
    <script src="js/jquery.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link rel="stylesheet" type="text/css" href="css/semantic.min.css">
</head>
<body id="chat">
    <div class="ui vertical  menu">
        <div class="ui header item">
            <span class="bold">CheGOu</span>
        </div>
        <div class="item">{{.Name}} &nbsp; <i class="material-icons icon">more_horiz</i></div>
        <div class="item">
            <div class="head">Channels</div>
            <div class="menu channels">
                <div id="public" class="item">Público</div>
                
            </div>
        </div>
    </div>
    <div class="ui padded container">
        <div class="ui icon input">
            <input type="text" placeholder="Sua mensagem...">
            <i class="inverted circular chevron circle right icon"></i>
        </div>
    </div>

    <script src="js/pusher.js"></script>
    <script src="js/main.js"></script>
    <script src="js/semantic.min.js"></script>
</body>
</html>